.header{
    justify-content: center;
    display: flex;
    border-bottom: 2px solid var(--brand-1, #FF4B13);
    background: var(--gray-1, #191C1F);
}

.header__content{ 
    padding: 20px;
    height: auto;
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__img{
    width: 250px;

}


.header__button1, .header__button2{
    display: flex;
    height: 60px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--brand-1, #FF4B13);
    color: var(--gray-7, #F8F9FA);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    background: var(--gray-1);
    border-radius: 30px;
    cursor: pointer;
}


.header__button1:hover , .header__button2:hover{
    border: 1px solid var(--brand-1, #FF4B13);
    background: var(--brand-1, #FF4B13);
    color: var(--gray-7, #F8F9FA);
}