@media (max-width:680px) {
    .header__content{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    .banner{
        height: auto;
    }
}
@media (max-width:550px){
    .modal__inputs{
        width: auto;
    }
    .modal__inputs input{
        width: 100%;
    }
    .header__img{
        width: 80vw;
    }
}