* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 100px;
    background: #191C1F;
    border-bottom: 2px solid var(--brand-1, #FF4B13);
}

header h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
    background: none;
}

header img {
    margin-left: 50px;
    margin-right: 135px;
    background: none;
}

#logo-include {
    width: 250px;
    height: 70px;
}

main {
    display: flex;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}


.text {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: #ADB5BD;
}

#div-day-date {
    display: flex;
    margin-top: 40px;
}

#div-day-date .text {
    font-size: 15px;
}

#time {
    margin-bottom: 40px;
}

#first-button {
    width: 300px;
    height: 90px;
    padding: 20px 32px;
    border: 1px solid var(--gray-2, #212529);
    background: #00CD2D;

    color: var(--gray-7, #F8F9FA);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: transform 0.3s ease;

    margin-right: 10px;

}

#first-button:hover {
    transform: scale(1.05);
}

#registerButton {
    width: 300px;
    height: 90px;
    padding: 20px 32px;
    border: 1px solid var(--gray-2, #212529);
    background: #FF1313;

    color: var(--gray-7, #F8F9FA);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: transform 0.3s ease;

    margin-right: 10px;

}

#registerButton:hover {
    transform: scale(1.05);
}

.box-timer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

#seccond-box p {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 18px */
    color: #EDF2FF;
    color: var(--gray-6, #EDF2FF);
}

#seccond-box .time {
    font-size: 24px;
    color: var(--gray-4, #ADB5BD);
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 48px */
}

.container {
    margin-left: 100px;
}

/* Código dá caixa maior para abrigar main, aside e footer */
.caixa {
    display: flex;
    background: #212529;
    flex-direction: column;

}

aside {
    display: flex;
    width: 300px;
    height: 490px;
    background: #191C1F;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 100px;
}

aside h1 {
    background: #191C1F;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 15px;
}

.paragraph {
    margin-bottom: 5px;
    margin-top: 5px;

    color: #FFF;
    /* text-align: center; */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
}

.table-item {
    color: #FFF;
    /* text-align: center; */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 40px;
}

.table-container {
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    width: 100%;
    gap: 10px;
    background: var(--gray-1, #FF6C13);

}

footer img{
    width: 30px;
}

.footer__text{
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

.success-message {
    color: green;
    font-size: 15px;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.banner__button{
    display: flex;
    height: 60px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--brand-1, #FF4B13);
    color: var(--gray-7, #F8F9FA); 
    background: var(--gray-1);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    border-radius: 30px;
    margin-left: 100px;
}

.banner__button:hover{
    border: 1px solid var(--brand-1, #FF4B13);
    background: var(--brand-1, #FF4B13);
    color: var(--gray-7, #F8F9FA);
}

@media (max-width:800px) {
    .caixa{
        flex-direction: column;
        align-items: center;
    }
    .caixa .complete{
        display: none;
    }
    header{
        flex-direction: column;
        padding: 24px 0;
    }
    header .container-img{
        padding: 0;
    }
    header img{
        padding: 0;
    }
    header h1{
        padding: 0 12px;
    }
    aside{
        margin: 0;
    }
    .container{
        margin: 0;
    }
    .container .box-timer{
        flex-direction: column;
    }
    #first-button{
        margin: 0;
    }
    #registerButton{
        margin: 0;
    }
    .box-timer{
        align-items: start;
    }
}
@media (max-width:340px){
    #first-button{
     width: 200px;
     margin: 0 auto;
     height: auto;
        font-size: 15px;
   
    }
    #registerButton{
    width: 200px;
    margin: 0 auto;
    height: auto;
    font-size: 15px;
      
    }
    header #logo-include{
        width: 70vw;
    }
    aside{
        width: auto;
    }
}